page-feedbacks {
  .mob {
    text-align: right;
    color: black;
    background-color: #00cc44;
    height: 30px;
    font-size: 1.2rem;
    min-height: 2px;
  }

  .comment {
    background-color: #ffffe6;
    font-size: 1.5rem;
  }
}
