page-inventory {
	.divider{
		margin-top: 10px;
	}

	.dividreritem {
		background-color: red;
		color: white;
	}

	.col {
		margin: auto;
	}

	.srtbtn {
		background-color: red;
	}

	.item {
		justify-content: center;
		align-items: center;
	}
}
